### latex compile output
*.pdf
*.ps
*.dvi

### latex aux files
*.toc
*.aux
*.log
*.synctex.gz
*.out

### latex bib
*.bbl
*.bcf
*.blg
*.fdb*
*.fls

### others latex
*.run.xml
*.bak
*.mtc
*.mtc0
*.mtc1
*.maf

### emacs backups
*~
